<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1>Cadastro</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{%else%}/create/{% endif %}" method="post"> <!--para o formulário funcionar tanto para criação quanto para edição de registros, criou-se o if. Se existir o db ele chama o update, senão o create-->
            {% csrf_token %}
            <!--{{form.as_p}} exibe em forma de parágrafo-->
            <div class="form-group mt-4">Nome: {{form.nome}}</div>
            <div class="form-group mt-4">Série: {{form.serie}}</div>
            <div class="form-group mt-4">Nota final: {{form.nota_final}}</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>

